@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  ::selection {
    background: #5f457e;
  }
  ::-webkit-scrollbar{
    width: 5px;
    background-color: #000;
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, rgba(0, 225, 255, 0.60));
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, rgb(0, 255, 157, 0.60));
  }
  body {
    background-image: linear-gradient(rgba(0,0,0, 0.75),rgba(0,0,0, 0.75)), url(/img/background.jpg);
    margin: 0;
    background-size: cover;
    background-repeat: repeat;
  }

  a{
    text-decoration: none;
  }
  header {
    width: 100%;
    height: 6.5vh;
    background-color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
  }
  .logo{
    color: #e3e3e3;
    align-items: center;
    justify-content: center;
    display: flex;
  }
 h1{
    font-size: 25px;
  }
  .sub{
    color: rgba(255, 255, 0, 0.87);
    font-size: 15px;
    font-style: oblique;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Dancing Script', cursive;
  }
  #logo {
    width: 50px;
    border-radius: 50px;
    padding: 0.4rem;
  }
  
  nav {
    width: 50%;
    max-width: 500px;
    height: 50px;
  }
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    box-shadow: 0 0 10px rgba(110, 110, 128, 0.5);
    border-radius: 15px;
    display: block;
  }
  
  nav > ul > li:hover {
    background-color: #dfdfe2;
    border-radius: 15px;
    
    color: #1b1b32;
    cursor: pointer;
  }
  
  li > a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
  }
  .burger{
    display: none;
}
.burger div{
    width: 20px;
    height: 2px;
    margin: 5px;
    background-color: #fff;
}
  main {
    padding-top: 10px;
  }
  
  section {
    width: 90%;
    margin: 0 auto 5px auto;
    /* height: 100vh; */
    color: #fff;
    max-width: 100%;
    
  }
  .land{
    margin-top: 0px;
    font-size: 20PX;
    height: 100vh;
    padding-top: 60px;
    display: flex;
  }
  .landbox1{
    /* background-color: #d0d0d5; */
    width: 50%;
    margin-top: 210px;
  }
  .landbox2{
    /* background-color: #fff; */
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landbox2 img{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 500px;
    margin: 0;
    background-color: rgba(94, 94, 94, 0.295);
    box-shadow: 0 0 20px rgba(127, 127, 139, 0.8);
  }
  .name{
    font-size: 60px;
  }
  .element{
    color: aqua;
    font-size: 30px;
    text-shadow: 0 0 10px aqua;
    caret-color: aqua;
  }
  h2 {
    border-bottom: .5px solid #404046;
    margin-top: 0px;
    display: flex;
    font-size: 20PX;
    flex-direction: row-reverse;
    padding-top: 60px;
  }
  .box{
    display: flex;
    color: #e3e3e3;
    border-right: .5px solid #404046;
    text-align: justify;
    font-family: 'Poppins';
    background-color: rgba(0, 0, 0, 0.212);
    height: 90vh;
  }
  .box1, .box2{
    width: 50%;
    font-size: 20px;
  }
  .skillbox{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0px rgba(0, 0, 0, 0.37);
    text-transform: uppercase;
    height: 50%;
    border-radius: 10px;
    margin: 20px 50px 0px 50px;
    display: flex;
    transition: 1s ease-in-out;
  }
  .skillbox:hover{
    background: linear-gradient(135deg, rgba(1, 204, 255, 0.5), rgba(125, 255, 73, 0.137));
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
  }
  .languages{
    /* background-color: red; */
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    text-align: right;
  }
  .languages li{
    list-style: none;
  }
  .percentages{
    width: 50%;
    /* background-color: green; */
    height: 100%;
    text-align: left;
    border-radius: 0px 10px 10px 0px;
    
    display: flex;
  }
  .percentages ul{
    width: 50%;
    height: 100%;
    margin-top: 30px;
    /* background-color: green; */
  }
  .percentages li{
      list-style: none;
      display: flex;
      height: 5px;
      margin-top: 27px;
      justify-content: center;
      align-items: center;
      background-color: #e60c0c;
      border-radius: 5px;
      margin-right: 5px;
      color: #fff;
      text-align: center;
      font-size: 5px;
      line-height: 10px;
  }
  button {
    display: block;
    margin: 40px auto;
    width: 40%;
    padding: 15px;
    font-size: 23px;
    background: #d0d0d5;
    border: 3px solid #3b3b4f;
  }
  
  footer {
    background-color: #2a2a40;
    display: flex;
    justify-content: center;
  }
  
  footer,
  footer a {
    color: #dfdfe2;
  }
  
  address {
    text-align: center;
    padding: 0.3em;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
 
  @media only screen and (max-width: 600px) {
    header{
      position: absolute;
      overflow: hidden;
    }
    .navlinks{
      position: absolute;
      background-color: rgb(0, 0, 0,0.9);
      border: solid 0.5px #fff;
      border-top: unset;
      border-right: unset;
      right: 0px;
      width: 50%;
      height: 80%;
      flex-direction: column;
      text-transform: uppercase;
      align-items: center;
      top: 6.5vh;
      transform: translateX(100%);
      overflow: auto;
      transition: transform 0.5s ease-in;
  }
  .navlinks li{
    padding: 10px;
    justify-content: center;
    display: flex;
    background-color: #000;
    width: 90%;
    position: relative;
    
}
.navlinks a{
  font-size: 14px;
  letter-spacing: 1px;
  align-items: center;
  color: rgb(223, 223, 223);
  display: flex;
  
}
.nav-active{
  transform: translateX(0%);
}
.burger{
    display: block;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    width: 15%;
    cursor: pointer;
}
@keyframes navlinkFade {
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}
.toggles .line1{
  transform: rotate(-45deg) translate(-5px,5px);
}
.toggles .line2{
  opacity: 0;
}
.toggles .line3{
  transform: rotate(45deg) translate(-5px,-5px);
}
    .box {
      display: unset;
      text-align: unset;
      border-right: unset;
    }
    .box1, .box2{
      width: 100%;
      justify-content: center;
    }
    .landbox1{
      min-width: 100%;
      margin-top: 150px;
      /* background-color: #fff; */
    }
    .landbox2{
      display: none;
    }
    .landbox2 img{
      width: 200px;
    }
    .name{
      font-size: 45px;
    }
    .element{
      font-size: 27px;
    }
  }