*{
    overflow: hidden;
    caret-color: transparent;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
html, body{
    height: 100%;
}
.background{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url(/img/Wallpaper-Cool-Dark-HD-1536x864.jpg);
    width: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 6vh;
    background-color: rgba(0,0,0,0.7);
}
.logo img{
    width: 30px;
    padding-right: 5px;
}
.logo a:hover{
    transition: 3s ease-in-out;
    rotate: 360deg;
    scale: 105%;
    padding: 2px;
}
.logo{
    color: #fff;
    display: flex;
    font-size: 22px;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    
}
.logo:hover{
    color: rgb(0, 255, 255);
    transition: 0.8s ease-in;
}

.logodev{
    font-size: 18px;
    align-items: center;
    color: rgb(185, 185, 3);
    text-transform: upercase;
}
.navlinks{
    display: flex;
    align-items: center;
    height: auto;
    font-size: 17px;
    list-style: none;
}
.navlinks a{
    text-decoration: none;
    color: papayawhip;
    padding: 3px 25px;
}
.navlinks li:hover{
    transition: 0.8s ease-in-out;
    background-color: green;
    letter-spacing: 0.1px;
    border-radius: 10px;
}
.burger{
    display: none;
}
.burger div{
    width: 20px;
    height: 2px;
    margin: 5px;
    background-color: #fff;
}
.details{
    width: 100%;
}
.info{
    color: rgb(230, 254, 255);
    /* background-color: rgb(51, 69, 170); */
    display: flex;
    margin: 100px 30px 10px;
}
.hi{
    color: aqua;
    font-size: 25px;
}
.my{
    font-size: 20px;
    margin-left: 30px;
}
.name{
    font-size: 50px;
    color: blanchedalmond;
}
.intro{
    color: #fff;
    /* position: absolute; */
    font-family: 'Righteous';
    font-size: 15px;
    word-spacing: 2px;
    line-height: 20px;
    margin-left: 30px;
}
.view{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-left: 230px;
}
.view a{
    position: absolute;
    display: inline-block;
    padding: 5px 30px;
    color: #00ffaae3;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-family: system-ui;
    font-weight: bold;
    border-radius: 10px;
    overflow: hidden;
    transition: .2s;
    /* margin-left: 650px;
    margin-top: 280px; */
    border: solid 1px;
    border-color: #fff;
}
.view a:hover{
    color: #000;
    background: #00ff62e3;
    box-shadow: 0 0 10px #00ffaa8f, 0 0 40px #00ffaa8f, 0 0 80px #00ffaa8f;
    transition-delay: 1s;
}
.view a span{
    position: absolute;
    display: block;
}
.view a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#00ffaae3 );
}
.view a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;

}
.view a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#00ffaae3 );
}
.view a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.view a span:nth-child(2){
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,#00ffaae3 );
}
.view a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.view a span:nth-child(4){
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,#00ffaae3 );
}
.view a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.socialdiv{
    margin-top: 18%;
    width: 100%;
    position: relative;
    height: 9vh;
}
.socials{
    list-style: none;
    display: flex;
    position: relative;
    align-items: center;
    /* background-color: red; */
    /* justify-content: space-around; */
    justify-content: center;
    height: 8vh;
    width: 100%;
}
.socials li a{
    text-decoration: none;
    color: aqua;
    padding: 5px;
    display: flex;
    /* background-color: black; */
    scale: 20%;
}
.socials li:hover{
    transition: .7s ease-out;
    scale: 110%;
    rotate: 10deg;
}
@media screen and (max-width: 768px) {
    body{
        overflow: hidden;
    }
    .navlinks{
        /* display: none; */
        position: absolute;
        background-color: rgb(0, 0, 0,0.9);
        border: solid 0.5px #fff;
        border-radius: 10px;
        right: 0px;
        width: 35%;
        height: 50%;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        align-items: center;
        top: 6vh;
        gap: 50px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navlinks li{
        padding: 10px;
        justify-content: center;
        display: flex;
        width: 100%;
        /* display: none; */
        /* background-color: #fff; */
        position: relative;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .navlinks a{
        font-size: 12px;
        align-items: center;
        display: flex;
    }
    .nav-active{
        transform: translateX(0%);
    }
    .my{
        font-size: 16px;
    }
    .name{
        font-size: 26px;
    }
    .socialdiv{
        margin-top: 35%;
    }
    .info{
        margin-left: 20px;
    }
    .intro{
        margin-left: 20px;
    }
    @keyframes navlinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .toggles .line1{
        transform: rotate(-45deg) translate(-5px,5px);
    }
    .toggles .line2{
        opacity: 0;
    }
    .toggles .line3{
        transform: rotate(45deg) translate(-5px,-5px);
    }
}